<!-- 找到当前文章所有标签相同的其他文章，但不包括当前文章自身，然后取前 5 篇这样的相关文章，赋值给变量 $related -->
{{ $related := first 5 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink)}}
<!-- 检查是否有相关文章存在。如果有，再执行下面的代码 -->
{{ with $related }}
<h3 class="see-also">{{- i18n "related" -}}</h3>
<div class="related">
  <ul>
    {{ range . }}
    <li>
      <a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a> <span class="related-date">（{{ .Date | time.Format
        "2006-01-02" }}）</span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
